// The main Scarborough Tennis Table SASS file

// =============================================
//
//  Variables and imports only please!
//
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

// Colours first
$grey:        #fdfdfd;  // Off white
$dark-grey:   #777;     // Dark grey
$brand:       #0097ff;  // Blue

$success:     #66b47d;  // Forest green
$warning:     #edc963;  // Golden sand
$error:       #e25835;  // Flame pea

// Global styles
$base-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-weight: 300px;

@import
  "_alpha",
  "_global",
  "_header",
  "_layout",
  "_home",
  "_footer"
  ;
